body{
    margin: 0;
    padding: 0;
    background-image: url(imgs/4k-wallpaper-calm-waters-dark-1252869.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
.login{
    width: 320px;
    height: 420px;
    border: 2px solid #888888;
    border-radius: 8px 8px 8px 8px;
    color: #ffffff;
    background-color: rgba(0, 0, 5, 0.8);
    top: 00%;
    left: 27%;
    position: absolute;
    transform: translate(50%, 50%);
    box-sizing: border-box;
    padding: 68px 28px;
}
.usuario{
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 112px;
}
h1{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}
.login{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}
.login input{
    width: 100%;
    margin-bottom: 21px;

}
.login input[type="text"], input[type=password]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;

} 
.login input[type="submit"]{
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background: #fff;
    border-radius: 20px;
    transition: 0.2s;
}
.login input[type="text"]:houver {

cursor: pointer;
background: white;

}
.login a{
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;
 }



